* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #47d4aa;
    font-family: Arial, sans-serif;
}

.container {
    width: 75%;
    margin: 3em auto;
    background: #f1e183;
    padding: 2em 3%;
    border-radius: 0.6em;
    box-shadow: 0 0 0.6em #000000cc;
}

.container header h1 {
    text-align: center;
}

.container form {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.container form input {
    width: 95%;
    padding: 1em;
    border: 0.2em solid #ccc;
    border-radius: 0.3em;
    margin-right: 1%;
    font-size: medium;
}

.container button {
    padding: 1em;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 0.3em;
    cursor: pointer;
}

.container form button:hover {
    background-color: #218838;
}

.container ul {
    list-style: none;
}

.container ul li {
    padding: 1em;
    border-bottom: 0.15em solid #ccc;
}

.container ul li p {
    float: right;
    color: #804a4a;
    font-size: small;
}

.container ul li .btn {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: space-around;
}

.container ul li .btn button {
    background-color: #963d46;
}

.container ul li .btn button:hover {
    background-color: #c82333;
}